.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

body {
  font-family: "DM Sans", sans-serif;
}

/*1--header*/

.header {
  background-color: #474747;
  color: #ffffff;
  width: auto;
  height: 40px;
  padding-left: 2vw;
  padding-right: 4vw;
}

.header a {
  color: #ffffff;
  text-decoration: none;
}

.header ul {
  padding-top: 0.5vw;
  padding-left: 4vw;
}

.header li {
  display: inline;
  padding: 1vw;
}

.header .social-box {
  position: absolute;
  right: 8vw;
  top: 1%;
}

/*2--nav*/

.nav-bar {
  background-color: #f9f9f7;
  width: auto;
  padding-left: 5.8vw;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.nav a {
  text-decoration: none;
  margin: 2px;
  padding: 18px;
  color: var(--neutral-07, #2c2f24);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}

.nav-li li :hover {
  border-radius: 50px;
  background: #dbdfd0;
  height: 50px;
  width: 128px;
  justify-content: center;
  align-items: center;
}

.nav ul {
  position: absolute;
  right: 4vw;
  top: 2.5vw;
  line-height: 80px;
}

.nav li {
  display: inline;
  margin-right: 4vw;
}

.nav h1 {
  position: absolute;
  right: 120px;
  line-height: 80px;
}

.nav-reserve {
  width: 120px;
  height: 64px;
  background-color: transparent;
  border-color: #2c2f24;
  border-radius: 50px;
  line-height: 40px;
}

/*3--news*/

.news {
  background-color: #ffffff;
  height: 85vh;
  color: #2c2f24;
  background-image: url(../img/image\ 110.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.news h1 {
  font-family: Playfair Display;
  font-size: 100px;
}

.news p {
  font-style: normal;
  line-height: 32px;
  margin: 50px;
}

.news_btn {
  display: inline-flex;
  justify-content: center;
  vertical-align: middle;
  gap: 1vw;
  position: absolute;
  padding-top: 20vw;
}

.news_btn button {
  height: 60px;
  width: 128px;
  font-size: medium;
  font-weight: bolder;
  border-radius: 118px;
  border: 1.5px solid var(--neutral-07, #2c2f24);
}

.news_btn button a {
  text-decoration: none;
  color: #2c2f24;
}

.news_btn .fast :hover {
  height: 62px;
  width: 130px;
  background-color: #ad343e;
  color: #ffffff;
  font-size: medium;
  border-radius: 118px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 0.5vw;
  bottom: 2px;
}

.news_btn .browse :hover {
  height: 60px;
  width: 130px;
  background-color: rgba(44, 47, 36, 1);
  border-radius: 118px;
  color: #ffffff;
  font-size: medium;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 0.5vw;
  bottom: 2px;
}

/*btn :hover{
  position: absolute;
  top: 0vw;
  right: calc(100% - 15.9vw);}*/
